.ant-table-thead {
    thead{
    background-color: #fadb14;
    }
}
.nut-them{
    margin-right: 30px;
}

#abc{
    border-radius: 10px;
    border-color: #fadb14;
    height: 32px;
    text-align: left;
    margin-bottom: 5px;
}

#bang{
    thead{
        background-color: #fadb14;
    }
}
