/* 
.logo-content {
    height: 100%; 
    object-fit: contain; 
}

.layout-censor {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.logo-content {
    height: 100%;
    object-fit: contain; 
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; 
    height: 10%; 
    margin-bottom: 20%;
    margin-top: 20%; 

    transition: all 0.2s; 
}

.ant-layout-sider-collapsed .logo {
    height:70px; 
}

  
  
   */
   .nav-sidebar {
    position: fixed;
    height: 100%;
}
   .admin-right{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    align-items: center;
  }
  .pro-sidebar-layout::after{
    scroll-behavior: smooth!important;
   }
  .pro-sidebar-layout::-webkit-scrollbar{
    width: 8px;
  
  }
  .pro-sidebar-layout::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom, #30ffd6,#fc4e8b);
    border-radius: 100rem;
  }
  .pro-sidebar-layout::-webkit-scrollbar-track{
    background-color: white;
    background-origin: 100rem;
  }
  .icon-hoa-don{
    background-color: white;
    border-radius: 40px 40px;
    border: 2px solid white;
  }
    .hover{
      cursor: pointer;
    }